<!DOCTYPE html>
<html>
  <head>
    <script type="text/javascript">
      var hours = new Date().getHours();
      var html = document.getElementsByTagName('html')[0];
      var cssClass;

      var imageNames;
      var images = [];

      if (hours > 4 && hours < 19) {
        cssClass = 'day';
        imageNames = ['town', 'mountains', 'cloud1', 'cloud2', 'sun'];
      } else {
        cssClass = 'night';
        imageNames = ['town', 'mountains', 'stars', 'moon'];
      }

      imageNames.forEach(function(imgName, i) {
        images[i] = new Image();
        images[i].src = '/img/scene/' + cssClass + '/' + imgName + '.svg';
      });

      html.className += ' ' + cssClass;
    </script>

    {% include head.html %}
  </head>
  <body>
    {{ content }}

    <script src="//use.typekit.net/nds5ogu.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
    {% include segment.html %}
  </body>
</html>
