/** Colors **/
$color-blue: #313E53
$color-yellow: #FACC26
$color-red: #D66262
$color-twitter-blue: #3AB3D6
$color-white: #FFF
$color-green: #67C184
$color-grey: #CCC

// /** Spacing */
$space-base: 50px
$space-small: 25px

/** Font Family **/
$theme-font-family-sans-serif: "futura-pt"
$theme-font-family-serif: "adobe-garamond-pro"


/** Font Size */
$theme-font-base: 14px
$theme-font-text: 18px
$theme-font-title: 24px
$theme-font-largeTitle: 40px

html,
body
  font-size: $theme-font-base
