$Schedule-dash-width: 15px
$Schedule-dash-height: 1px
$Schedule-dash-spacing: 4px

.Schedule
  background-color: $color-white

.Schedule-twoColumnContainer
  height: 100%
  display: flex

  +media-xs-only
    flex-wrap: wrap
    justify-content: flex-start

.Schedule-column
  width: 50%
  height: 100%

  display: flex
  flex-direction: column

  +media-xs-only
    width: 100%

.Schedule-halfColumn
  margin-right: 10%

  +media-xs-only
    margin: $space-base 0

.Schedule-columnTitle
  width: 50%
  align-self: flex-end
  text-align: left

  +media-xs-only
    width: auto
    align-self: center

.Schedule-day
  +sans-serif
  +font-title
  font-weight: bold

.Schedule-date
  +serif
  +font-text
  color: $color-grey

.Schedule-dash
  background: $color-grey
  width: $Schedule-dash-width
  height: $Schedule-dash-height
  display: block
  margin-top: $space-small * 0.5
  margin-left: $Schedule-dash-spacing

.Schedule-columnFooter
  // Event-icon-size + border-size
  width: calc(50% - 12px)
  height: $padding-huge * 0.5

  display: flex
  align-items: flex-end
  align-self: flex-end

  border-left: 1px solid $color-grey



.Schedule-columnFooter
  .Schedule-dash
    display: none
    // Event-icon-size + border-size
    transform: translateX(-12px)

    +media-xs-only
      display: block
