$btn-cta-border-color: #e1ad30
$btn-cta-bg: linear-gradient(to bottom, #ffde66, darken(#facc26, 5%))
$btn-cta-text-color: #9f4c00

.Btn
  -webkit-font-smoothing: antialiased
  -webkit-appearance: none
  display: inline-block
  border: none
  border-radius: 10px
  transition: all 0.3s ease-in-out
  cursor: pointer

.Btn--cta
  @include serif
  display: inline-block
  padding: 0.5em 1em
  background: $btn-cta-bg
  color: $btn-cta-text-color
  box-shadow: 0 3px 0px #e1aa26
  text-shadow: 0 1px #fae9e8
  text-decoration: none
  text-transform: uppercase
  +media-xs
    +font-text
  +media-md
    +font-title

  transition: all 0.2s ease-in-out
  background-size: 1% 200%
  &:hover
    background-position: 0% 100%


.Btn--submit
  +font-text
  padding: $space-small * 0.5 $space-small
  background-color: $color-red
  color: $color-white
  text-transform: uppercase
  height: 50px

  &:hover
    background-color: darken($color-red, 5%)
