$landing-grid-content-margin: $spacing
$landing-grid-spacing-top: $spacing * 3
$landing-grid-spacing-horizontal: $spacing * 4
$landing-grid-spacing-horizontal-mobile: $spacing * 2
$landing-grid-logo-width: 487px

.LandingGrid
  @include outer-container
  max-width: 100%

.LandingGrid-nav
  @include fill-parent
  padding: $landing-grid-spacing-top $landing-grid-spacing-horizontal 0
  @include media($media-mobile)
    padding: $landing-grid-spacing-top $landing-grid-spacing-horizontal-mobile 0

.LandingGrid-content
  max-width: $landing-grid-logo-width
  margin: $landing-grid-content-margin auto
  padding: $spacing

.LandingGrid-logo
  display: block
  margin: auto
  max-width: 100%

.LandingGrid-date
  text-align: center
