$landing-grid-spacing: $spacing * 3

.LandingGrid
  @include outer-container
  max-width: 100%

.LandingGrid-nav
  @include fill-parent

.LandingGrid-content
  margin: $landing-grid-spacing 0
  @include span-columns(4)
  @include shift(4)
  @include omega()
  @include media($media-mobile)
    @include span-columns(12 of 12)
    @include shift(0)

.LandingGrid-logo
  display: block
  margin: auto

.LandingGrid-date
  text-align: center
