$landing-grid-spacing: $spacing * 3
$landing-grid-spacing-top: $spacing * 3
$landing-grid-spacing-right: $spacing * 2

.LandingGrid
  @include outer-container
  max-width: 100%

.LandingGrid-nav
  @include fill-parent
  padding-top: $landing-grid-spacing-top
  padding-right: $landing-grid-spacing-right

.LandingGrid-content
  margin: $landing-grid-spacing 0
  @include span-columns(4)
  @include shift(4)
  @include omega()
  @include media($media-mobile)
    @include span-columns(12 of 12)
    @include shift(0)

.LandingGrid-logo
  display: block
  margin: auto
  max-width: 100%

.LandingGrid-date
  text-align: center
