$landing-scene-sun-size: 104px
$landing-scene-sun-spacing: $spacing * 3

.LandingScene
  min-height: 100%
  background-color: $color-water
  background-image: url(../img/scene/sky.png), url(../img/scene/skyline.png)
  background-position: center center, center bottom
  background-repeat: no-repeat
  background-size: cover, contain
  position: relative
  z-index: 1

.LandingScene-sun
  position: absolute
  margin: $landing-scene-sun-spacing
  background-image: url(../img/scene/sun.png)
  width: $landing-scene-sun-size
  height: $landing-scene-sun-size
  z-index: -1
  @include media($media-mobile)
    display: none
