.SceneOverlay
  z-index: 10000
  // position: absolute
  // right: 0
  // left: 0
  // bottom: 25%
  max-width: 490px
  // margin: auto
  padding: 1em 0
  text-align: center
  // +media-xs
  //   margin-top: 60%
  // +media-lg
  //   margin-top: 30%

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100vh
  margin: auto
  left: 0
  right: 0
  bottom: 0

.SceneOverlay-logo
  +media-xs
    max-width: 200px
  +media-sm
    max-width: 300px

.SceneOverlay-slogan
  +font-responsive-largeTitle
  // margin: auto
  +media-xs
    max-width: 320px
    margin-top: $space-small
  +media-sm
    max-width: 100%
    margin-top: $space-base

.SceneOverlay-info
  +font-responsive-title

  +media-xs
    margin: $space-small
  +media-sm
    margin: $space-base

.SceneOverlay-date
  font-weight: bold
  text-transform: uppercase

+keyframes(SceneOverlay-anim)
  from
    opacity: 0
  to
    opacity: 1

.SceneOverlay
  opacity: 0
  // +animation(SceneOverlay-anim 2s 2s ease-in-out forwards)
