$Scene-skyline-width: 654px
$Scene-skyline-height: 400px
$Scene-cloud-width: 2400px
$Scene-cloud-height: 60%
$Scene-skyline-time: 80s
$Scene-cloud1-time: 200s
$Scene-cloud2-time: 130s
$Scene-cloud1-top: 0px
$Scene-cloud2-top: 100px

.Scene
  position: absolute
  width: 100%
  overflow: hidden
  background: #DEFEF0
  z-index: 1

+keyframes(Scene-animClouds)
  from
    transform: translateX(0%)
  to
    transform: translateX(100%)

.Scene-cloud-1,
.Scene-cloud-2,
.Scene-sun,
.Scene-mountains,
.Scene-town
  background-position: 0 top
  background-size: contain
  position: absolute
  overflow: hidden
  z-index: -1

.Scene-cloud-1,
.Scene-cloud-2
  width: $Scene-cloud-width
  height: $Scene-cloud-height
  background-repeat: repeat

.Scene-sun,
.Scene-mountains,
.Scene-town
  width: 100%
  height: 100%
  background-size: contain
  background-repeat: no-repeat

.Scene-cloud-1
  top: $Scene-cloud1-top
  background-image: url(../img/scene/cloud1.svg)
  +animation(Scene-animClouds $Scene-cloud1-time linear 3s infinite)

.Scene-cloud-2
  top: $Scene-cloud2-top
  background-image: url(../img/scene/cloud2.svg)
  +animation(Scene-animClouds $Scene-cloud2-time linear 3s infinite)

.Scene-sun
  width: 20%
  height: 20%
  background-position: bottom 20% center
  background-image: url(../img/scene/sun.svg)

.Scene-mountains
  bottom: 0
  background-position: bottom
  background-image: url(../img/scene/mountains.svg)

.Scene-town
  bottom: 0
  background-position: bottom
  background-image: url(../img/scene/town.svg)

.Scene-gandalf
  background-image: url(../img/scene/gandalf.svg)

.Scene
  +media-xs
    height: 120%
  +media-sm
    height: 140%

.Scene-anchor
  position: absolute
  bottom: 0
