.SceneOverlay
  z-index: 10000
  margin: auto
  text-align: center
  max-width: 490px
  padding: 1em 0
  +media-xs
    margin-top: 60%
  +media-sm
    margin-top: 30%


.SceneOverlay-logo
  +media-xs
    max-width: 80%
  +media-sm
    max-width: 300px

.SceneOverlay-slogan
  +font-responsive-largeTitle

  margin: auto
  +media-xs
    max-width: 320px
    margin-top: $space-small
  +media-sm
    max-width: 100%
    margin-top: $space-base

.SceneOverlay-info
  +font-responsive-title

  +media-xs
    margin: $space-small
  +media-sm
    margin: $space-base

.SceneOverlay-date
  font-weight: bold
  text-transform: uppercase

+keyframes(SceneOverlay-anim)
  from
    opacity: 0
  to
    opacity: 1

.SceneOverlay
  opacity: 0
  +animation(SceneOverlay-anim 2s 1s ease-in-out forwards)
