.SceneOverlay
  z-index: 10000
  max-width: 490px
  padding: 1em 0
  text-align: center
  text-shadow: 0px 1px white

  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  height: 100vh
  margin: auto
  left: 0
  right: 0
  bottom: 0

.SceneOverlay-logo
  +media-xs
    max-width: 200px
  +media-sm
    max-width: 300px

.SceneOverlay-slogan
  +font-responsive-largeTitle
  +media-xs
    max-width: 320px
    margin-top: $space-small
  +media-sm
    max-width: 100%
    margin-top: $space-base

.SceneOverlay-info
  +font-responsive-title

  +media-xs
    margin: $space-small
  +media-sm
    margin: $space-base

.SceneOverlay-date
  font-weight: bold
  text-transform: uppercase

