$SpeakerInformation-spacing: 10px
$SpeakerInformation-picture-size: 30px

.SpeakerInformation
  +sans-serif
  display: flex
  justify-content: flex-start
  align-items: center

  margin: $SpeakerInformation-spacing 0 0 $space-small

  font-weight: bold
  font-style: normal
  text-transform: uppercase

.SpeakerInformation-picture
  width: $SpeakerInformation-picture-size
  height: $SpeakerInformation-picture-size

  margin-right: $SpeakerInformation-spacing

  border-radius: 50%

.SpeakerInformation-name
  white-space: nowrap
