<div class="Nav">
  <input type="checkbox" class="Nav-checkbox" id="Nav-checkbox">

  <label for="Nav-checkbox" class="Nav-burger">
    <div class="Nav-burgerText Nav-burgerText--closed">Menu</div>
    <div class="Nav-burgerText Nav-burgerText--open">Close menu</div>
    <div class="Nav-burgerLine Nav-burgerLine--top"></div>
    <div class="Nav-burgerLine Nav-burgerLine--middle"></div>
    <div class="Nav-burgerLine Nav-burgerLine--bottom"></div>
  </label>

  <nav class="Nav-overlay">
  </nav>
</div>
