<section id="Scene" class="Scene Scene--animated">
  <div class="Scene-layers" id="layers" data-limit-x="10">
    <div class="Scene-fullSize Scene-sun"></div>
    <div class="Scene-fullSize Scene-stars"></div>
    <div class="Scene-cloudsWrapper Scene-clouds Scene-clouds--back"></div>
    <div class="Scene-fullSize Scene-mountains"></div>
    <div class="Scene-cloudsWrapper Scene-clouds Scene-clouds--front"></div>
    <div class="Scene-fullSize Scene-town"></div>
  </div>

  <div id="SceneOverlay" class="SceneOverlay">
    <img class="SceneOverlay-logo" src="/img/logo.png">
    <h2 class="SceneOverlay-slogan">The most <emph>precious</emph> Ruby Conference in the world!</h2>
    <div class="SceneOverlay-info">
      <p class="SceneOverlay-date">14-15 September</p>
      <p class="SceneOverlay-location">BRAGA, Portugal</p>
    </div>

    <a class="Btn Btn--ticket Btn--cta" target="_blank" href="{{ site.data.rubyconfpt.tito_url }}" data-track-link="Clicked CTA button">Get your magic ticket</a>
  </div>
</section>
