<section class="Scene">
  <div class="Scene-layers" id="layers" data-limit-x="10">
    <div class="Scene-skyline"></div>
    <div class="Scene-cloud-1"></div>
    <div class="Scene-cloud-2"></div>
    <div class="Scene-cloud-3"></div>
  </div>

  <div class="SceneOverlay">
    <img class="SceneOverlay-logo" src="img/logo.png">
    <h2 class="SceneOverlay-slogan">The most <emph>precious<&emph> Ruby Conference in the world!</h2>
    <h3 class="SceneOverlay-date"><strong>14-15 September</strong> Braga</h3>
    <h4 class="SceneOverlay-location">BRAGA, Portugal</h4>

    <a class="Btn Btn-cta" href="#">Get your magic ticket</a>
  </div>
</section>
