<section class="Speakers" id="speakers">
  <h1 class="Speakers-title">
    <span class="SectionTitle">Speakers</span>
  </h1>

  <ul class="Speakers-list">
    {% for speaker in site.data.speakers %}
      <article class="Speaker">
        <div class="Speaker-pictureWrapper">
          <img alt="" class="Speaker-picture" src="/img/speakers/{{ speaker.picture_name }}">
        </div>
        <h1 class="Speaker-name">
          <div class="Speaker-firstName">{{ speaker.firstName }}</div>
          <div class="Speaker-lastName">{{ speaker.lastName }}</div>
        </h1>
        <h2 class="Speaker-shortDesc">{{ speaker.shortDesc }}</h2>
        <div class="Speaker-links">
          {% if speaker.twitter %}
            <a aria-label=""{{ speaker.firstName }} {{ speaker.lastName }}'s twitter" target="_blank" href="https://twitter.com/{{ speaker.twitter }}">
              <i class="fa fa-twitter"></i>
            </a>
          {% endif %}

          {% if speaker.github %}
          <a aria-label="{{ speaker.firstName }} {{ speaker.lastName }}'s github" target="_blank" href="https://github.com/{{ speaker.github }}">
              <i class="fa fa-github"></i>
            </a>
          {% endif %}
        </div>
      </article>
    {% endfor %}

    <article>
      <a aria-label="Call for Proposals" target="_blank" href="{{ site.data.rubyconfpt.cfp_url }}" class="Speaker">
        <div class="Speaker-pictureWrapper">
          <img alt="" class="Speaker-picture" src="/img/sauron.png">
        </div>
        <h1 aria-hidden="true" class="Speaker-name">
          <div class="Speaker-firstName">searching for</div>
          <div class="Speaker-lastName">more</div>
        </h1>
      </a>
    </article>
  </ul>
</section>
