<section class="Speakers" id="speakers">
  <h1 class="Speakers-title">
    <span class="SectionTitle">Speakers</span>
  </h1>

  <ul class="Speakers-list">
    {% for speaker in site.data.speakers %}
      <article class="Speaker Speaker--{{ speaker.modifier }}">
        {% include components/speakers/identification.html %}
        <h2 class="Speaker-shortDesc Speaker-shortDesc">{{ speaker.shortDesc }}</h2>
        {% include components/speakers/links.html %}
      </article>
    {% endfor %}
  </ul>
</section>
