<section class="Schedule" id="schedule">
  <h1 class="SectionTitle">Agenda</h1>

  <div class="Schedule-twoColumnContainer">
    <div class="Schedule-column">
      <div class="Schedule-columnTitle">
        <p class="Schedule-day">Day 1</p>
        <p class="Schedule-date">Monday, 14th September</p>
        <span class="Schedule-dash"></span>
      </div>

      <div class="ScheduleEntry">
        <p class="ScheduleEntry-time">09h00 - 09h45</p>
        <div class="ScheduleEntry-name">Check-in</div>
      </div>

      <div class="ScheduleEntry">
        <p class="ScheduleEntry-time">09h45 - 10h00</p>
        <div class="ScheduleEntry-name">Welcome</div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--talk">
        <p class="ScheduleEntry-time">10h00 - 10h40</p>
        <div class="ScheduleEntry-name">
          Talk #1
          <div class="ScheduleEntry-speaker">
            <img class="ScheduleEntry-picture" src="http://lorempixel.com/output/people-q-c-80-80-7.jpg"></img>
            koichi sasada
          </div>
        </div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--coffeeBreak">
        <p class="ScheduleEntry-time">10h40 - 11h00</p>
        <div class="ScheduleEntry-name">
          Coffee-break
          <div class="ScheduleEntry-sponsor">
            <div class="ScheduleEntry-sponsorLabel">Sponsored by: </div>
            <div>mailjet</div>
          </div>
        </div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--talk">
        <p class="ScheduleEntry-time">11h00 - 11h40</p>
        <div class="ScheduleEntry-name">
          Talk #2
          <div class="ScheduleEntry-speaker">
            <img class="ScheduleEntry-picture" src="http://lorempixel.com/output/people-q-c-80-80-7.jpg"></img>
            koichi sasada
          </div>
        </div>
      </div>

      <div class="ScheduleEntry">
        <p class="ScheduleEntry-time">11h40 - 12h00</p>
        <div class="ScheduleEntry-name">break</div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--talk">
        <p class="ScheduleEntry-time">12h00 - 12h40</p>
        <div class="ScheduleEntry-name">
          talk #3
          <div class="ScheduleEntry-speaker">
            <img class="ScheduleEntry-picture" src="http://lorempixel.com/output/people-q-c-80-80-7.jpg"></img>
            koichi sasada
          </div>
        </div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--lunch">
        <p class="ScheduleEntry-time">12h40 - 14h30</p>
        <div class="ScheduleEntry-name">
          lunch
          <div class="ScheduleEntry-sponsor">
            <div class="ScheduleEntry-sponsorLabel">Sponsored by: </div>
            <div>mailjet</div>
          </div>
        </div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--ligthningTalk">
        <p class="ScheduleEntry-time">14h30 - 15h00</p>
        <div class="ScheduleEntry-name">
          Ligthning talks
          <div class="ScheduleEntry-speaker">
            part I
          </div>
        </div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--talk">
        <p class="ScheduleEntry-time">15h00 - 15h40</p>
        <div class="ScheduleEntry-name">
          talk #4
          <div class="ScheduleEntry-speaker">
            <img class="ScheduleEntry-picture" src="http://lorempixel.com/output/people-q-c-80-80-7.jpg"></img>
            koichi sasada
          </div>
        </div>
      </div>

      <div class="ScheduleEntry">
        <p class="ScheduleEntry-time">15h40 - 16h00</p>
        <div class="ScheduleEntry-name">Break</div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--talk">
        <p class="ScheduleEntry-time">16h00 - 16h40</p>
        <div class="ScheduleEntry-name">
          talk #5
          <div class="ScheduleEntry-speaker">
            <img class="ScheduleEntry-picture" src="http://lorempixel.com/output/people-q-c-80-80-7.jpg"></img>
            koichi sasada
          </div>
        </div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--coffeeBreak">
        <p class="ScheduleEntry-time">16h40 - 17h00</p>
        <div class="ScheduleEntry-name">
          Coffee-break
          <div class="ScheduleEntry-sponsor">
            <div class="ScheduleEntry-sponsorLabel">Sponsored by: </div>
            <div>mailjet</div>
          </div>
        </div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--talk">
        <p class="ScheduleEntry-time">17h00 - 17h40</p>
        <div class="ScheduleEntry-name">
          talk #6
          <div class="ScheduleEntry-speaker">
            <img class="ScheduleEntry-picture" src="http://lorempixel.com/output/people-q-c-80-80-7.jpg"></img>
            koichi sasada
          </div>
        </div>
      </div>

      <div class="ScheduleEntry">
        <p class="ScheduleEntry-time">17h40 - 18h00</p>
        <div class="ScheduleEntry-name">Break</div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--ligthningTalk">
        <p class="ScheduleEntry-time">18h00 - 19h00</p>
        <div class="ScheduleEntry-name">
          Panel
          <div class="ScheduleEntry-speaker">
            To Be revealed
          </div>
        </div>
      </div>

      <div class="ScheduleEntry">
        <p class="ScheduleEntry-time">19h00</p>
        <div class="ScheduleEntry-name">End of Day</div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--party">
        <p class="ScheduleEntry-time">21h00</p>
        <div class="ScheduleEntry-name">
          Party
          <div class="ScheduleEntry-sponsor">
            <span class="ScheduleEntry-sponsorLabel">Sponsored by:</span>
            Subvisual
          </div>
        </div>
      </div>

      <div class="Schedule-columnFooter"></div>
    </div>

    <div class="Schedule-column">
      <div class="Schedule-columnTitle">
        <p class="Schedule-day">Day 2</p>
        <p class="Schedule-date">Thusday, 15th September</p>
        <span class="Schedule-dash"></span>
      </div>

      <div class="ScheduleEntry">
        <p class="ScheduleEntry-time">09h00 - 09h45</p>
        <div class="ScheduleEntry-name">Check-in</div>
      </div>

      <div class="ScheduleEntry">
        <p class="ScheduleEntry-time">09h45 - 10h00</p>
        <div class="ScheduleEntry-name">Welcome</div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--talk">
        <p class="ScheduleEntry-time">10h00 - 10h40</p>
        <div class="ScheduleEntry-name">
          Talk #1
          <div class="ScheduleEntry-speaker">
            <img class="ScheduleEntry-picture" src="http://lorempixel.com/output/people-q-c-80-80-7.jpg"></img>
            koichi sasada
          </div>
        </div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--coffeeBreak">
        <p class="ScheduleEntry-time">10h40 - 11h00</p>
        <div class="ScheduleEntry-name">
          Coffee-break
          <div class="ScheduleEntry-sponsor">
            <div class="ScheduleEntry-sponsorLabel">Sponsored by: </div>
            <div>mailjet</div>
          </div>
        </div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--talk">
        <p class="ScheduleEntry-time">11h00 - 11h40</p>
        <div class="ScheduleEntry-name">
          Talk #2
          <div class="ScheduleEntry-speaker">
            <img class="ScheduleEntry-picture" src="http://lorempixel.com/output/people-q-c-80-80-7.jpg"></img>
            koichi sasada
          </div>
        </div>
      </div>

      <div class="ScheduleEntry">
        <p class="ScheduleEntry-time">11h40 - 12h00</p>
        <div class="ScheduleEntry-name">break</div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--talk">
        <p class="ScheduleEntry-time">12h00 - 12h40</p>
        <div class="ScheduleEntry-name">
          talk #3
          <div class="ScheduleEntry-speaker">
            <img class="ScheduleEntry-picture" src="http://lorempixel.com/output/people-q-c-80-80-7.jpg"></img>
            koichi sasada
          </div>
        </div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--lunch">
        <p class="ScheduleEntry-time">12h40 - 14h30</p>
        <div class="ScheduleEntry-name">
          lunch
          <div class="ScheduleEntry-sponsor">
            <div class="ScheduleEntry-sponsorLabel">Sponsored by: </div>
            <div>mailjet</div>
          </div>
        </div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--ligthningTalk">
        <p class="ScheduleEntry-time">14h30 - 15h00</p>
        <div class="ScheduleEntry-name">
          Ligthning talks
          <div class="ScheduleEntry-speaker">
            part I
          </div>
        </div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--talk">
        <p class="ScheduleEntry-time">15h00 - 15h40</p>
        <div class="ScheduleEntry-name">
          talk #4
          <div class="ScheduleEntry-speaker">
            <img class="ScheduleEntry-picture" src="http://lorempixel.com/output/people-q-c-80-80-7.jpg"></img>
            koichi sasada
          </div>
        </div>
      </div>

      <div class="ScheduleEntry">
        <p class="ScheduleEntry-time">15h40 - 16h00</p>
        <div class="ScheduleEntry-name">Break</div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--talk">
        <p class="ScheduleEntry-time">16h00 - 16h40</p>
        <div class="ScheduleEntry-name">
          talk #5
          <div class="ScheduleEntry-speaker">
            <img class="ScheduleEntry-picture" src="http://lorempixel.com/output/people-q-c-80-80-7.jpg"></img>
            koichi sasada
          </div>
        </div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--coffeeBreak">
        <p class="ScheduleEntry-time">16h40 - 17h00</p>
        <div class="ScheduleEntry-name">
          Coffee-break
          <div class="ScheduleEntry-sponsor">
            <div class="ScheduleEntry-sponsorLabel">Sponsored by: </div>
            <div>mailjet</div>
          </div>
        </div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--talk">
        <p class="ScheduleEntry-time">17h00 - 17h40</p>
        <div class="ScheduleEntry-name">
          talk #6
          <div class="ScheduleEntry-speaker">
            <img class="ScheduleEntry-picture" src="http://lorempixel.com/output/people-q-c-80-80-7.jpg"></img>
            koichi sasada
          </div>
        </div>
      </div>

      <div class="ScheduleEntry">
        <p class="ScheduleEntry-time">17h40 - 18h00</p>
        <div class="ScheduleEntry-name">Break</div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--ligthningTalk">
        <p class="ScheduleEntry-time">18h00 - 19h00</p>
        <div class="ScheduleEntry-name">
          Panel
          <div class="ScheduleEntry-speaker">
            To Be revealed
          </div>
        </div>
      </div>

      <div class="ScheduleEntry">
        <p class="ScheduleEntry-time">19h00</p>
        <div class="ScheduleEntry-name">End of Day</div>
      </div>

      <div class="ScheduleEntry ScheduleEntry--party">
        <p class="ScheduleEntry-time">21h00</p>
        <div class="ScheduleEntry-name">
          Party
          <div class="ScheduleEntry-sponsor">
            <span class="ScheduleEntry-sponsorLabel">Sponsored by:</span>
            Subvisual
          </div>
        </div>
      </div>

      <div class="Schedule-columnFooter"></div>
    </div>
  </div>
</section>
