<section class="Schedule" id="schedule">
  <h1 class="SectionTitle">Agenda</h1>

  <div class="Schedule-twoColumnContainer">
    {% for day in site.data.events %}
      <div class="Schedule-column Schedule-{{day.class}}">
        <div class="Schedule-columnTitle">
          <p class="Schedule-day">{{ day.name }}</p>
          <p class="Schedule-date">{{ day.date }}</p>
          <span class="Schedule-dash"></span>
        </div>

        {% for event in day.events %}
          {% include components/schedule/event.html %}
        {% endfor %}

        <div class="Schedule-columnFooter"></div>
      </div>
    {% endfor %}
  </div>
</section>
