<section class="Schedule" id="schedule">
  <h1 class="SectionTitle">Agenda</h1>

  <div class="Schedule-twoColumnContainer">
    <div class="Schedule-column">
      <h1>Day 1</h1>
      <h2>Monday, 14th September</h2>

      <div class="Schedule-event">
        <p class="Schedule-eventTime">09h00 - 09h45</p>
        <div class="Schedyle-eventName"></div>
      </div>
      <p class="Schedule-entry">
        Check-in
      </p>
      <p class="Schedule-entry">
        Check-in
      </p>
      <p class="Schedule-entry">
        Check-in
      </p>
      <p class="Schedule-entry">
        Check-in
      </p>

      <div class="Schedule-line"></div>

    </div>

    <div class="Schedule-column">
      <h1>Day 2</h1>
      <h2>Monday, 14th September</h2>

      <p class="Schedule-entry">
        Check-in
      </p>

      <div class="Schedule-line"></div>

    </div>
  </div>
</section>
