<section class="Tickets" id="tickets">
  <h1 class="Tickets-title">
    <span class="SectionTitle">Tickets</span>
  </h1>

  <div class="TicketContainer">
    <div class="TicketContainer-Column TicketContainer-ColumnHideXs">
      <div class="TicketInformation">
        <div  class="TicketInformation-header">
          <p>
            RubyConf Portugal'15 has a capacity for 400 people, but <b>only 100</b>
             tickets are available for <b>Early Birds</b>.
          </p>
        </div>
        <div class="TicketInformation-paragraph">
          <p>
            We offer discounts for Groups of <b>10 people or more</b>, starting at <b>120€</b>
             per person.
          </p>
          <br>
          <p>
            For <b>Students</b> the price is <b>60€</b>, but we require a <b>valid student card</b>
             to be presented at the event.
          </p>
        </div>
      </div>
    </div>

    <div class="TicketContainer-Column">
      <div class="Ticket">
        <div class="Ticket-header">
          <h1 class="Ticket-name">Early Bird</h1>
          <p class="Ticket-price">150€</p>
          <p class="Ticket-endDate">Ends on June 10th<br>(limited to 100 tickets)</p>
        </div>

        <div class="Ticket-separator"></div>

        <div class="Ticket-body">
          <p class="Ticket-discount">
            <span><b>Group</b> Ticket</span>
            <span class="Ticket-discountPrice">120€</span>
          </p>
          <p class="Ticket-discountInformation">(Groups of 10 or more)</p>

          <p class="Ticket-discount">
            <span><b>Student</b> Ticket </span>
            <span class="Ticket-discountPrice">60€</span>
          </p>
          <p class="Ticket-discountInformation">(Requires valid student card)</p>

          <a class="Btn Btn--ticket Ticket-button" target="_blank" href="{{ site.data.rubyconfpt.tito_url }}" data-track-link="Clicked 'Buy Ticket' in Early Bird section">Buy ticket</a>
        </div>
      </div>
    </div>

    <div class="TicketContainer-Column">
      <div class="Ticket Ticket--inactive">
        <div class="Ticket-header">
          <h1 class="Ticket-name">Regular Ticket</h1>
          <p class="Ticket-price">200€</p>
          <p class="Ticket-endDate">Starts on June 11th</p>
          <p class="Ticket-state">not started</p>
        </div>
      </div>
      <div class="Ticket Ticket--inactive">
        <div class="Ticket-header">
          <h1 class="Ticket-name">Late Ticket</h1>
          <p class="Ticket-price">250€</p>
          <p class="Ticket-endDate">Starts on August 13th</p>
          <p class="Ticket-state">not started</p>
        </div>
      </div>
    </div>
  </div>
</section>
