<section class="Tickets" id="tickets">
  <h1 class="Tickets-title">
    <span class="SectionTitle">Tickets</span>
  </h1>

  <div class="TicketContainer">
    <div class="TicketContainer-Column TicketContainer-ColumnHideXs">
      <div class="TicketInformation">
        <div  class="TicketInformation-header">
          <p>
            RubyConf Portugal'15 has a capacity for 400 people.
          </p>
        </div>
        <div class="TicketInformation-paragraph">
          <p>
            For <b>Students</b> the price is <b>80€</b>, but we require a <b>valid student card</b>
             to be presented at the event.
          </p>
        </div>
      </div>
    </div>

    <div class="TicketContainer-Column">
      <div class="Ticket">
        <div class="Ticket-header">
          <h1 class="Ticket-name">Late Ticket</h1>
          <p class="Ticket-price">250€</p>
          <p class="Ticket-endDate">Starts on August 31st</p>
        </div>
        <div class="Ticket-separator"></div>

        <div class="Ticket-body">
          <p class="Ticket-discount">
            <span><b>Student</b> Ticket </span>
            <span class="Ticket-discountPrice">80€</span>
          </p>
          <p class="Ticket-discountInformation">(Requires valid student card)</p>

          <a class="Btn Btn--ticket Ticket-button" target="_blank" href="{{ site.data.rubyconfpt.tito_url }}" data-track-link="Clicked 'Buy Ticket' in Late Ticket section">Buy ticket</a>
        </div>
      </div>
    </div>

    <div class="TicketContainer-Column">
      <div class="Ticket Ticket--inactive">
        <div class="Ticket-header">
          <h1 class="Ticket-name">Regular Ticket</h1>
          <p class="Ticket-price">200€</p>
          <p class="Ticket-endDate">Ends on August 30th</p>
          <p class="Ticket-state">closed</p>
        </div>
      </div>
      <div class="Ticket Ticket--inactive Ticket--closed">
        <div class="Ticket-header">
          <h1 class="Ticket-name">Early Bird</h1>
          <p class="Ticket-price">150€</p>
          <p class="Ticket-endDate">Ends on June 10th<br>(limited to 100 tickets)</p>
          <p class="Ticket-state">closed</p>
        </div>
      </div>
    </div>
  </div>
</section>
