<section class="LastYear" id="LastYear">
  <h1 class="LastYear-title">
    <span class="SectionTitle">About last year</span>
  </h1>

  <div class="LastYear-grid">
    <div class="LastYear-column">
      <div class="LastYear-row">
        <a class="Tweet" target="_blank" href="#">
          <div class="Tweet-author">
            <img class="Tweet-picture">
            <div class="Tweet-authorInformation">
              <div class="Tweet-authorName"></div>
              <div class="Tweet-authorHandle"></div>
            </div>
          </div>
          <p class="Tweet-text"></p>
          <div class="Tweet-date"></div>
        </a>
      </div>
      <div class="LastYear-row">
        <img class="LastYear-featuredImage">
      </div>
    </div>
    <div class="LastYear-column LastYear-column--large">
      <div class="LastYear-row LastYear-row--large">
        <img class="LastYear-featuredImage">
      </div>
      <div class="LastYear-row LastYear-row--small">
        <a class="Tweet" target="_blank" href="#">
          <div class="Tweet-author">
            <img class="Tweet-picture">
            <div class="Tweet-authorInformation">
              <div class="Tweet-authorName"></div>
              <div class="Tweet-authorHandle"></div>
            </div>
          </div>
          <p class="Tweet-text"></p>
          <div class="Tweet-date"></div>
        </a>
      </div>
    </div>
    <div class="LastYear-column">
      <div class="LastYear-row">
        <img class="LastYear-featuredImage">
      </div>
      <div class="LastYear-row">
        <a class="Tweet" target="_blank" href="#">
          <div class="Tweet-author">
            <img class="Tweet-picture">
            <div class="Tweet-authorInformation">
              <div class="Tweet-authorName"></div>
              <div class="Tweet-authorHandle"></div>
            </div>
          </div>
          <p class="Tweet-text"></p>
          <div class="Tweet-date"></div>
        </a>
      </div>
    </div>
  </div>
</section>
