<section class="CTA">
  <hr class="Separator Separator--small">

  <div class="CTA">
    <h1 class="CTA-title">You shall not miss this!</h1>
    <p class="CTA-text">Last year was unforgettable for everyone involved. This year, we're aiming to top that. There's no way you'll want to stay out of this.</p>

    <div class="CTA-actions">
      <a class="Btn Btn--ticket" target="_blank" href="{{ site.data.rubyconfpt.tito_url }}" data-track-link="Clicked 'Buy Ticket' in Dont't Miss It section">Buy ticket</a>
      <a class="Btn Btn--alternate" target="_blank" href="{{ site.data.rubyconfpt.prospectus }}" data-track-link="Clicked 'Sponsorship' in Speakers section">Sponsor us</a>
    </div>
  </div>
</section>
