<section class="JobsCTA" id="jobs-cta">
  <h1 class="JobsCTA-title u-paddingSmall">
    <div class="SectionTitle SectionTitle--noPadding">Looking for a ruby job?</div>
  </h1>

  <div class="JobsCTA-row">
    <p class="JobsCTA-text u-paddingLarge">
      There is always room for someone who knows Ruby.
      Our sponsor Landing.jobs is helping in that matter.
    </p>
  </div>


  <div class="JobsCTA-row u-paddingLarge">
    <a href="/jobs" class="Btn Btn--regular">Jobs</a>
  </div>

  <div class="JobsCTA-row u-paddingSmall">
    <emph class="JobsCTA-text">powered by</emph>
  </div>

  <div class="JobsCTA-row u-paddingLarge">
    <a href="https://landing.jobs/">
      <img class="JobsCTA-sponsorLogo" src="/img/sponsors/landing.jobs.alt.png" alt="Landing.Jobs logo">
    </a>
  </div>

  <div class="u-paddingLarge"></div>
</section>
