<section class="Scene Scene--footer">
  <div class="Scene-layers" id="layers" data-limit-x="10">
    <div class="Scene-fullSize Scene-stars"></div>
    <div class="Scene-cloudsWrapper">
      <div class="Scene-clouds Scene-clouds--back"></div>
    </div>
    <div class="Scene-fullSize Scene-mountains"></div>
    <div class="Scene-cloudsWrapper">
      <div class="Scene-clouds Scene-clouds--front"></div>
    </div>
    <div class="Scene-fullSize Scene-topSkyline"></div>
  </div>

  <div id="SceneOverlay" class="SceneOverlay">
    <img class="SceneOverlay-smallLogo" src="/img/logo-footer.png">
    <div class="SceneOverlay-footerTitle">Rubyconf</div>
    <div class="SceneOverlay-footerSubtitle">Portugal’15</div>
  </div>
</section>
