<div class="u-paddingLarge"></div>

<section class="CityGuide">
  <h2 class="SectionTitle">Braga City Guide</h2>

  <div class="CityGuide-wrapper">
    <div class="CityGuide-row">
        <div class="CityGuideDescription">
          <p>One of the oldest portuguese cities, established in Roman times as Bracara Avgvsta, Braga is nowadays a young city, full of traditions and places to visit.</p>
          <br>
          <p>Braga is the third largest metropolitan area of Portugal and it was the European Youth Capital in 2012. Because of the high number of well-succeeded startups that have emerged in this amazing city, it’s sometimes called as the Portuguese Silicon Valley.</p>
        </div>
    </div>

    <div class="CityGuideImg">
      <img srcset="/img/braga/cidade@2x.png 2x,
                    /img/braga/cidade.png" />
    </div>
  </div>
</section>
