<section class="MustDo">
  <h2 class="SectionTitle">9 Things You Must Do In Braga</h2>

  <div class="CityGrid">

    <div class="CityGrid-cell">
      <img class="CityPicture" srcset="/img/braga/porta@2x.png 2x,
                                        /img/braga/porta.png 1x" />

      <div class="u-paddingSmall"></div>

      <div class="CityCaption">
        <p>Take a stroll in the streets of the historic center, don’t forget to walk through the “Arco da Porta Nova”. This National Monument was once one the main entrances to medieval city and is where the keys to the city are presented to dignitaries and celebrities.</p>
      </div>
    </div>

    <div class="CityGrid-cell">
      <img class="CityPicture CityPicture--large u-md-hidden" srcset="/img/braga/braga@2x.png 2x,
                                                                        /img/braga/braga.png 1x" />
      <img class="CityPicture CityPicture--large u-md-only" srcset="/img/braga/braga_sm@2x.png 2x,
                                                                      /img/braga/braga_sm.png 1x" />

      <div class="u-paddingSmall"></div>

      <div class="CityCaption CityCaption--large">
        <p>Take the 19th century hydraulic elevator which is one the oldest of its kind still functioning in the world to enjoy the peaceful ambience and outstanding views of “Santuário do Bom Jesus”. While there you should walk down the iconic 581-step Baroque stairway.</p>
      </div>
    </div>

    <div class="CityGrid-cell">
      <img class="CityPicture" srcset="/img/braga/sameiro@2x.png 2x,
                                        /img/braga/sameiro.png 1x" />

      <div class="u-paddingSmall"></div>

      <div class="CityCaption">
        <p>Eat an ice cream while enjoying the beautiful landscape at “Santuário do Sameiro”, the second biggest in Portugal dedicated to the Virgin Mary, only surpassed by the one in Fátima.</p>
      </div>
    </div>

    <div class="CityGrid-cell">
      <img class="CityPicture" srcset="/img/braga/estadio@2x.png 2x,
                                        /img/braga/estadio.png 1x" />

      <div class="u-paddingSmall"></div>

      <div class="CityCaption">
        <p>AXA Stadium was carved out of a quarry on a mountain that overlooks the city. It has won multiple awards in the fields of architecture and civil engineering. While you are there, go to a match to support the home team, Sporting Club de Braga.</p>
      </div>
    </div>

    <div class="CityGrid-cell">
      <img class="CityPicture CityPicture--large u-md-hidden" srcset="/img/braga/jesus@2x.png 2x,
                                                                        /img/braga/jesus.png 1x" />
      <img class="CityPicture CityPicture--large u-md-only" srcset="/img/braga/jesus_sm@2x.png 2x,
                                                                      /img/braga/jesus_sm.png 1x" />

      <div class="u-paddingSmall"></div>

      <div class="CityCaption CityCaption--large">
        <p>“Bom Jesus do Monte” was the venue of last year’s edition of RubyConf PT, and is one of the most beautiful sites in the North of Portugal. Getting up the mountain might be a challenge, but a good exercise if that’s your thing (you can cheat, and take a bus or taxi). When up there, be sure to visit the lake and get on a boat ride, for the full experience.</p>
      </div>
    </div>

    <div class="CityGrid-cell">
      <img class="CityPicture" srcset="/img/braga/se@2x.png 2x,
                                        /img/braga/se.png 1x" />

      <div class="u-paddingSmall"></div>

      <div class="CityCaption">
        <p>“Sé de Braga” is the city’s main church, dating to the 11th century, and built on top of an old Roman temple. In front of it you’ll also find some very nice bars where you can grab a beer.</p>
      </div>
    </div>

    <div class="CityGrid-cell">
      <img class="CityPicture" srcset="/img/braga/noite@2x.png 2x,
                                        /img/braga/noite.png 1x" />

      <div class="u-paddingSmall"></div>

      <div class="CityCaption">
        <p>“Noite Branca” or “White Night”, is an event hosted on the city streets, that last year had more than 150.000 participants. It has everything from dance, theatre, performances and even concerts. It will be happening on the days preceding the conference, right on time for you to attend, just don’t forget to wear something white!</p>
      </div>
    </div>

    <div class="CityGrid-cell">
      <img class="CityPicture CityPicture--large u-md-hidden" srcset="/img/braga/sta_barbara.png 1x,
                                                                        /img/braga/sta_barbara@2x.png 2x" />
      <img class="CityPicture CityPicture--large u-md-only" srcset="/img/braga/sta_barbara_sm@2x.png 2x,
                                                                      /img/braga/sta_barbara_sm.png 1x" />

      <div class="u-paddingSmall"></div>

      <div class="CityCaption CityCaption--large">
        <p>Walk through the “Jardins de Santa Bárbara” for a mix of antiqueness and novelty. The gardens were landscaped in the 50s, but it’s built next to a medieval palace and it’s fountain dates to the 17th century.</p>
      </div>
    </div>

    <div class="CityGrid-cell">
      <img class="CityPicture" srcset="/img/braga/sta_cruz@2x.png 2x,
                                        /img/braga/sta_cruz.png 1x" />

      <div class="u-paddingSmall"></div>

      <div class="CityCaption">
        <p>If you really like churches we’ve got you covered. Right in the city’s center there is a smaller but interesting one, called “Igreja de Santa Cruz”. The story goes that there are three statues of roosters on the walls of the church, and the girl who finds them all will shortly get married.</p>
      </div>
    </div>
  </div>

  <div class="CityLearnMore">
    <a class="Btn Btn--regular" href="http://www.bragacool.com/en" target="_blank">More About Braga</a>
  </div>
</section>
