<section class="MustEat">
  <h2 class="SectionTitle">3 Things You Must Eat In Braga</h2>
  <div class="CityGrid">
    <!-- First column -->
    <div class="CityGrid-cell CityGrid-cell--full">
      <img class="CityPicture--full CityPicture" srcset="/img/braga/natas@2x.png 2x,
                                        /img/braga/natas.png 1x" />

      <div class="u-paddingSmall"></div>

      <div class="CityCaption">
        <p>Nata at <a href="http://bragacool.com/en/mingle/casa-natas" target="_blank">Casa das Natas.</a></p>
      </div>
    </div>

    <!-- Second column -->
    <div class="CityGrid-cell CityGrid-cell--full">
      <img class="CityPicture CityPicture--large" srcset="/img/braga/belga@2x.png 2x,
                                                            /img/braga/belga.png 1x" />

      <div class="u-paddingSmall"></div>

      <div class="CityCaption CityCaption--large">
        <p>“Francesinhas” at <a href="http://www.tripadvisor.com.br/Restaurant_Review-g189171-d1792887-Reviews-Taberna_Belga-Braga_Braga_District_Northern_Portugal.html" target="_blank">Taberna Belga.</a></p>
      </div>
    </div>

    <!-- Third column -->
    <div class="CityGrid-cell CityGrid-cell--full">
      <img class="CityPicture--full CityPicture" srcset="/img/braga/berlim@2x.png 2x,
                                        /img/braga/berlim.png 1x" />

      <div class="u-paddingSmall"></div>

      <div class="CityCaption">
        <p>Bola de Berlim at <a href="http://www.tripadvisor.com.br/Restaurant_Review-g189171-d5988351-Reviews-Casa_Bolas_de_Berlim-Braga_Braga_District_Northern_Portugal.html" target="_blank">Casa das Bolas de Berlim.</a></p>
      </div>
    </div>
  </div>
</section>
