<section class="CitiesNearby">
  <h2 class="SectionTitle">Cities Nearby</h2>
  <div class="CitiesNearby-list">
    <!-- First column -->
    <div class="CityNearby">
      <img class="CityNearby-img" srcset="/img/braga/guimaraes@2x.jpg 2x,
                                            /img/braga/guimaraes.jpg 1x" />

      <div class="u-paddingSmall u-xs-hidden"></div>

      <p class="CityNearby-caption">Guimarães - 25km</p>

      <div class="u-paddingSmall"></div>

      <a class="Btn Btn--regular" target="_blank" href="http://www.guimaraesturismo.com">What To Do</a>
    </div>

    <div class="CityNearby">
      <img class="CityNearby-img" srcset="/img/braga/porto@2x.jpg 2x,
                                            /img/braga/porto.jpg 1x" />

      <div class="u-paddingSmall u-xs-hidden"></div>

      <p class="CityNearby-caption">Porto - 55km</p>

      <div class="u-paddingSmall"></div>

      <a class="Btn Btn--regular" target="_blank" href="http://www.visitporto.travel">What To Do</a>
    </div>
  </div>
</section>
