<section class="Jobs" id="jobs">>
  <h1 class="SectionTitle">Jobs</h1>
  <div class="CTA">
    <p class="CTA-text">We want awesome Rubyists working at awesome companies. Find your dream job here:</p>
  </div>

  <div class="Jobs-container">
    <script type="text/javascript"> var JOBBOX_PARTNER_ID = '27dbd72c'; </script> 
    <script id='JOBBOX' src="https://d1uxgic6sz1xze.cloudfront.net/plugin-assets/v1/partner_embed.min.js" type="text/javascript" charset="utf-8" async></script>
  </div>

  <div class="u-paddingLarge"></div>
</section>
