<form action="{{ site.data.rubyconfpt.mailchimp }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="NewsletterForm" target="_blank" novalidate>
  <div class="NewsletterForm-input">
    <span class="InputHoshi {{ include.inputClass }}">
      <input class="InputHoshi-field" type="email" value="" name="YOUR EMAIL" id="mce-EMAIL" required>
      <label class="InputHoshi-label" for="mce-EMAIL">
        <span class="InputHoshi-labelContent">YOUR EMAIL</span>
        <span class="InputHoshi-border"></span>
      </label>
    </span>
  </div>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_94c5a4b768054f20f78d0056a_d1f74d03dd" tabindex="-1" value=""></div>

  <div class="NewsletterForm-submit">
    <input type="submit" class="Btn {{ include.btnClass }} fa fa-twitter" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
  </div>
</form>
