<form action="{{ data.rubyconfpt.mailchimp }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="NewsletterForm" target="_blank" novalidate>
  <div class="NewsletterForm-input">
    <input type="email" value="" name="EMAIL"id="mce-EMAIL" placeholder="YOUR EMAIL" required>
  </div>

    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_94c5a4b768054f20f78d0056a_d1f74d03dd" tabindex="-1" value=""></div>

  <div class="NewsletterForm-submit">
    <input type="submit" class="Btn Btn--red" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
  </div>
</form>
