.Hotel
  max-width: 400px
  flex-grow: 1
  margin: 25px

.Hotel-name
  +font-title

.Hotel-stars
  list-style-type: none
  display: flex
  flex-direction: row

.Hotel-star
  color: $color-yellow

.Hotel-prices
  +serif
  display: flex
  flex-direction: row
  width: 100%

.Hotel-price
  width: 150px

.Hotel-priceValue
  +font-title
  color: $color-yellow
