.Venue-showcase
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  +media-sm
    flex-direction: row

.Venue-column
  max-width: 300px
  margin: 25px
  display: flex

  flex-direction: column
  +media-sm
    &:nth-child(even)
      flex-direction: column-reverse

  div
    margin-bottom: 25px

.Venue-title
  +font-title

.Venue-text
  +serif
  color: $color-grey
