<div class="FringeEvent">
  <div class="FringeEvent-information">
    {% if event.info %}
      <a class="FringeEvent-name" href="{{ event.info }}" target="blank">
        {{ event.name }}
      </a>
    {% else %}
      <p class="FringeEvent-name">{{ event.name }}</p>
    {% endif %}

    <div>
      <a class="FringeEvent-location" href="{{ site.data.rubyconfpt.map}}" target="blank">
        <div class="FringeEvent-locationIcon">{% include /img/marker.svg %}</div>
        {{ event.location }}
      </a>
      <span class="FringeEvent-date">{{ event.time }}</span>
    </div>
  </div>

  <p class="FringeEvent-description">{{ event.description }}</p>
</div>
