<section class="Venue" id="venue">
  <div class="u-paddingLarge"></div>

  <h1 class="SectionTitle">Venue</h1>

  <div class="Venue-showcase">
    <div class="Venue-column">
      <div>
        <h2 class="Venue-title u-paddingSmall">Theatro Circo</h2>
        <p class="Venue-text">The Theatro Circo is a 20th-century, Portuguese revivalist theatre and one of the most emblematic theatre in Europe. It is located in one of the principal avenues in Braga, Avenida da Liberdade.</p>
      </div>
      <div class="Venue-img">
        <img alt="dsa">
      </div>
    </div>

    <div class="Venue-column">
      <div>
        <h2 class="Venue-title u-paddingSmall">Theatro Circo</h2>
        <p class="Venue-text">The Theatro Circo is a 20th-century, Portuguese revivalist theatre and one of the most emblematic theatre in Europe. It is located in one of the principal avenues in Braga, Avenida da Liberdade.</p>
      </div>

      <div class="Venue-img">
        <img alt="asd">
      </div>
    </div>
  </div>

  <div class="u-paddingHuge"></div>
</section>
