<section class="Venue" id="venue">
  <div class="u-paddingLarge"></div>

  <h1 class="SectionTitle">Venue</h1>

  <div class="Venue-showcase">
    <div class="Venue-column">
      <div>
        <h2 class="Venue-title u-paddingAlwaysSmall">Braga</h2>
        <p class="Venue-text">One of the oldest portuguese cities, established in Roman times as Bracara Avgvsta, Braga is nowadays a young city, full of traditions and places to visit.</p>
      </div>
      <div class="Venue-imgWrapper">
        <img class="Venue-img" src="/img/venue/braga.jpg" alt="Braga">
      </div>
    </div>

    <div class="Venue-column">
      <div>
        <h2 class="Venue-title u-paddingAlwaysSmall">Theatro Circo</h2>
        <p class="Venue-text">Theatro Circo is a 20th-century, Portuguese revivalist theatre and one of the most emblematic theatre in Europe. It is located in one of the principal avenues in Braga, Avenida da Liberdade.</p>
      </div>

      <div class="Venue-imgWrapper">
        <img class="Venue-img" src="/img/venue/theatro-circo.jpg" alt="Theatro Circo">
      </div>
    </div>
  </div>

  <div class="u-paddingHuge"></div>
</section>
