<section class="HowToGet" id="how-to-get">
  <h1 class="SectionTitle">How to get to <strong>Portugal</strong><h1>

  <div class="HowToGet-columns">
    <div class="HowToGet-column">
      <h2 class="HowToGet-columnTitle u-paddingSmall">Airport Francisco Sá Carneiro @ Porto<br>(OPO)</h2>
      <p class="HowToGet-columnText">55km from Braga (see its <a href="#">airline companies</a>)</p>
    </div>

    <div class="HowToGet-column">
      <h2 class="HowToGet-columnTitle u-paddingSmall">Airpot Portela @ Lisbon<br>(LIS)</h2>
      <p class="HowToGet-columnText">55km from Braga (see its <a href="#">airline companies</a>)</p>
    </div>
  </div>

  <div class="u-paddingLarge"></div>

  <h1 class="SectionTitle">How to get to <strong>Braga, Portugal</strong><h1>

  <div class="HowToGet-columns">
    <div class="HowToGet-column">
      <h2 class="HowToGet-columnTitle u-paddingSmall">By Bus</h2>
      <p class="HowToGet-columnText">At the Porto airport (OPO), you can catch a direct bus, with a service called <a href="#">GetBus</a>)</p>
    </div>

    <div class="HowToGet-column">
      <h2 class="HowToGet-columnTitle u-paddingSmall">By Train</h2>
      <p class="HowToGet-columnText">Train Station Porto Campanhã @ Porto - 1h to Braga Train Station</p>
      <p class="HowToGet-columnText">Train Station Lisboa Oriente @ Lisboa - 4h to Braga Train Station</p>
      <p class="HowToGet-columnText">More information at <a>www.cp.pt/passageiros/en/</a></p>
    </div>
  </div>

  <div class="u-paddingLarge"></div>

  <h1 class="SectionTitle">How to get to <strong>Theatro Circo, Braga, Portugal</strong></h1>

  <div class="HowToGet-columns">
    <div class="HowToGet-column">
      <h2 class="HowToGet-columnTitle u-paddingSmall">Coordinates</h2>
      <p class="HowToGet-columnText">XXX</p>
    </div>

    <div class="HowToGet-column">
      <h2 class="HowToGet-columnTitle u-paddingSmall">Address</h2>
      <p class="HowToGet-columnText">Avenida da Liberdade, 697, 4710-251 Braga</p>
      <p class="HowToGet-columnText">You can see public transportation's schedules <a href="#">here</a></p>
    </div>
  </div>

  <div>TODO MAPA</div>
</section>
