<section class="HowToGet" id="how-to-get">
  <div class="u-paddingAlwaysSmall">
    <h1 class="SectionTitle">How to get to <strong>Portugal</strong><h1>
  </div>

  <div class="HowToGet-columns">
    <div class="HowToGet-column">
      <h2 class="HowToGet-columnTitle u-paddingSmall">Airport Francisco Sá Carneiro @ OPorto<br>(OPO)</h2>
      <p class="HowToGet-columnText">55km from Braga (see its <a href="http://www.ana.pt/en-US/Aeroportos/porto/Porto/Departures/DestinationsAndAirlines/Pages/DestinationsAndAirlines.aspx" target="blank">airline companies</a>)</p>
    </div>

    <div class="HowToGet-column">
      <h2 class="HowToGet-columnTitle u-paddingSmall">Airpot Portela @ Lisbon<br>(LIS)</h2>
      <p class="HowToGet-columnText">360km from Braga (see its <a href="http://www.ana.pt/en-US/Aeroportos/lisboa/Lisboa/Departures/DestinationsandAirlines/Pages/DestinationsandAirlines.aspx" target="blank">airline companies</a>)</p>
    </div>
  </div>

  <div class="u-paddingLarge"></div>

  <div class="u-paddingAlwaysSmall">
    <h1 class="SectionTitle">How to get to <strong>Braga, Portugal</strong><h1>
  </div>

  <div class="HowToGet-columns">
    <div class="HowToGet-column">
      <h2 class="HowToGet-columnTitle u-paddingSmall">By Bus</h2>
      <p class="HowToGet-columnText">At the OPorto airport (OPO), you can catch a direct bus with a service called <a href="http://www.getbus.eu/index.php?lang=en&seccao=1" target="blank">GetBus</a>)</p>
    </div>

    <div class="HowToGet-column">
      <h2 class="HowToGet-columnTitle u-paddingSmall">By Train</h2>
      <p class="HowToGet-columnText">Train Station Porto Campanhã @ Porto - 1h to Braga Train Station</p>
      <p class="HowToGet-columnText">Train Station Lisboa Oriente @ Lisboa - 4h to Braga Train Station</p>
      <p class="HowToGet-columnText">More information at <a href="www.cp.pt/passageiros/en/" target="blank">www.cp.pt/passageiros/en/</a></p>
    </div>
  </div>

  <div class="u-paddingLarge"></div>

  <div class="u-paddingAlwaysSmall">
    <h1 class="SectionTitle">How to get to <strong>Theatro Circo, Braga, Portugal</strong></h1>
  </div>

  <div class="HowToGet-columns">
    <div class="HowToGet-column">
      <h2 class="HowToGet-columnTitle u-paddingSmall">Coordinates</h2>
      <p class="HowToGet-columnText">41º 32' 59' N, 8º 25' 20' O</p>
    </div>

    <div class="HowToGet-column">
      <h2 class="HowToGet-columnTitle u-paddingSmall">Address</h2>
      <p class="HowToGet-columnText">Avenida da Liberdade, 697, 4710-251 Braga</p>
      <p class="HowToGet-columnText">You can see public transportation's schedules <a href="http://www.tub.pt/index.php?option=com_content&view=category&id=36&Itemid=40" target="blank">here</a> and check a <a href="https://www.google.pt/maps/place/Teatro+Circo+de+Braga/@41.5496583,-8.4225863,17z/data=!3m1!4b1!4m2!3m1!1s0xd24e87650169dfd:0x46276da956d09542?hl=en" target="blank">map</a> to find the best way to get to the venue.</p>
    </div>
  </div>

  <div class="HowToGet-map">
    <iframe src="https://www.google.com/maps/d/embed?mid=zlfwWnVK83HI.kXHoCZ-toy2I" height="600"></iframe>
  </div>
</section>
